<html>
<head>
    <title>Labelr</title>
    <link rel="stylesheet" href="classify.css">
    <link rel="stylesheet" href="main.css">
    <script
          src="https://code.jquery.com/jquery-2.2.4.js"
          integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
          crossorigin="anonymous"></script>
    </head>
<body>
  
  <div class="data">
    <img src="" />
  </div>
  
  <div class="forms">
      
    <form action="/classify" method="post">
      <input name="choice" value="" />
      <input name="id" value="" />
      <input type="submit" value="" />
    </form>
    
  </div>
  
  <div class="ta-c">
    <a class="button" href="/results">Download Results</a>
  </div>
      
  <script src="/classify.js"></script>
</body>
</html>
